estoque

<ul>
  <li ng-repeat="operacao in operacoes">
    {{ operacao.descricao }}
  </li>
</ul>


<table class="table table-hover table-bordered">
  <thead class="thead-default">
    <tr>
      <th>Produto</th>
      <th>Validade</th>
      <th>Quantidade</th>
      <th>Unidade</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="item in resumo">
      <td>{{ item.produto.descricao }}</td>
      <td>{{ item.produto.validade | date: "dd-MM-yyyy" }}</td>
      <td>{{ item.estoque }}</td>
      <td>{{ item.unidadeDeMedida }}</td>
      <td>
        <p class="quantidade-distribuida">
          {{ item.estoque - item.aDistribuir }} distribuido
        </p>
        <button ng-if="item.aDistribuir > 0" class="btn btn-primary" ng-click="openModalDistribuir(item)">
          distribuir
        </button>
        <button ng-if="item.aDistribuir === 0" class="btn btn-primary" ng-click="openModalDistribuir(item)">
          ver detalhes
        </button>
      </td>
    </tr>
  </tbody>
</table>
