<div class="modal-distribuir">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Distribuir doação pelas unidades do SESC</h4>
	</div>
	<div class="modal-body">
		<div class="content-area">
			<h4>{{ resumo.produto.descricao }}</h4>
			<h5>Quantidade total: <b>{{ resumo.estoque }}</b> {{ resumo.unidadeDeMedida }} (<b>{{ resumo.estoque - resumo.aDistribuir }}</b> distribuído)</h5>
			<h5>Restante a distribuir: <b>{{ resumo.aDistribuir }}</b> {{ resumo.unidadeDeMedida }}</h5>
			<h5>Validade: <b>{{ resumo.produto.validade | date:"dd 'de' MMMM yyyy" }}</b></h5>
		</div>

		<div ng-show="distribuicoes.length > 0">
		  <h4>Distribuições efetuadas:</h4>

		  <!-- Table -->
		  <table class="table">
		    <thead>
		      <tr>
		        <th>Unidade do SESC</th>
		        <th>Quantidade</th>
		        <th>Data a retirar</th>
		        <th>Cancelar</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="distribuicao in distribuicoes">
					<td>{{ distribuicao.receptor.nome }} </td>
					<td>{{ distribuicao.quantidade }} {{ distribuicao.unidadeDeMedida }} </td>
					<td>{{ distribuicao.dataDeRetirada | date:"dd 'de' MMMM yyyy" }} </td>
					<td><button class="btn btn-default" ng-click="deleteDistribuicao(distribuicao)">cancelar</button></td>
				</tr>
		    </tbody>
		  </table>
		</div>
		
		<button 
			type="button"
			class="btn btn-primary"
			ng-click="abrirFormulario()"
			ng-show="!formularioAberto">
			<i class="glyphicon glyphicon-plus"></i> Unidade
		</button>

		<form ng-show="formularioAberto">
			<h4>Distribuir para unidade:</h4>

			<div class="row">

				<div class="form-group col-sm-12">

					<label>Escolha a unidade do SESC</label>
					<select
						ng-model="novaDistribuicao.receptor"
						class="form-control">
						<option
							ng-repeat="receptor in receptores"
							value="{{ receptor }}">
							{{ receptor.nome }}
						</option>
					</select>

				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Quantidade | {{ novaDistribuicao.unidadeDeMedida }}</label>

					<div class="input-group">
						<input
							type="number"
							class="form-control"
							required ng-model="novaDistribuicao.quantidade">
						<div class="input-group-addon">
							{{ novaDistribuicao.unidadeDeMedida }}
						</div>
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label>Data a retirar</label>
					<input
						type="date"
						required
	          min="{{ today | date: 'yyyy-MM-dd' }}"
	          max="{{ resumo.produto.validade | date: 'yyyy-MM-dd' }}"
						class="form-control"
						ng-model="novaDistribuicao.dataDeRetirada"/>
				</div>
			</div>
<!-- 
			<button type="button" class="btn btn-primary pull-right" ng-click="
			salvarECriarNovaDistribuicao()">
				<i class="glyphicon glyphicon-plus"></i> Unidade
			</button>
 -->
			<button type="button" class="btn btn-primary pull-right" ng-click="salvar()">Salvar</button>

			<div style="clear: both;"></div>
		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="finalizarDistribuicao()">finalizar distribuição</button>
	</div>
</div>