<h2>operacoes</h2>

<table class="table table-hover table-bordered">
  <thead class="thead-default">
    <tr>
      <th>Produto</th>
      <th>Validade</th>
      <th>Quantidade</th>
      <th>Unidade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="operacao in operacoes">
      <td>{{ operacao.produto.descricao }}</td>
      <td>{{ operacao.produto.validade | date:"dd 'de' MMMM yyyy" }}</td>
      <td>{{ operacao.quantidade }}</td>
      <td>{{ operacao.unidadeDeMedida }}</td>
      <td>
        <button ng-click="deleteOperacao(operacao)">remover</button>
      </td>
    </tr>
  </tbody>
</table>
