<div class="modal-distribuir">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Cadastrar novo produto</h4>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" ng-submit="createProduto()">
      <div class="form-group">
        <label
          for="produto-descricao"
          class="col-sm-2 control-label">Descrição</label>
        <div class="col-sm-10">
          <input
            autofocus
            required
            type="text"
            class="form-control"
            id="produto-descricao"
            placeholder="Descrição do produto"
            ng-model="newProduto.descricao">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Criar</button>
          <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
        </div>
      </div>
    </form>

  </div>
</div>